<div class="container p-4 mb-2">
  <h3>A list of our services</h3>
  <div class="d-flex justify-content-center">

        <%= render partial: 'shared/offcanvas' %>

  </div>

<%# Wash, Dry and Fold %>

    <%# <div class="col-7 m-4"> %>
      <%# <div class="card p-4 rounded-4"> %>
        <%# <div class="Description"> %>
          <%# <% @services.where(category: "Wash, Dry and Fold").group_by(&:category).each do |category, service| %> %>
            <%# <h3><%= category %></h3> %>
            <%# <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p> %>
          <%# <% end %> %>
          <%# <% @services.where(category: "Wash, Dry and Fold").group_by(&:category).each do |category, services| %> %>
            <%# <div class="d-flex justify-content-center"> %>
            <%# <% services.each do |service| %> %>
              <%# <%= button_to "#{service.name} - $#{service.price}.00", line_items_path(:service_id => service.id), class: "btn btn-primary m-2"%> %>
            <%# <% end %> %>
            <%# </div> %>
          <%# <% end %> %>
        <%# </div> %>
      <%# </div> %>
    <%# </div> %>

<%# dropdowns try=============================================== %>

<div class="container p-4 bg-danger mb-4">
  <div class="row bg-secondary justify-content-around">

    <%# Wash, Dry and Fold %>
    <% @services.where(category: "Wash, Dry and Fold").group_by(&:category).each do |category, services| %>
      <div class="col-12 col-md-3 bg-success py-4 rounded-4">
        <div class="card-header">
          <h3><%= category %></h3>
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          <div class="form-group">
            <label for="<%= category %>">Select a service:</label>
            <select class="form-control" id="<%= category %>" name="<%= category %>">
            <option value="">Select a service</option>
            <% services.each do |service| %>
              <option value="<%= service.id %>"><%= service.name %> - $<%= service.price %></option>
            <% end %>
            </select>
          </div>
        </div>
        <div class="btn">
          <%# <%= button_to "Add to cart", line_items_path(:service_id => services.first.id), class: "btn btn-primary", data: { bs_toggle: "offcanvas", bs_target: "#offcanvasExample" }, aria: { controls: "offcanvasExample" } %> %>
          <form action="/line_items?service_id=<%= services.first.id %>" method="POST">
            <button class="btn btn-primary" type="submit" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">See my cart</button>
          </form>
        </div>
      </div>
    <% end %>

    <%# Wash, Dry and Iron %>
    <% @services.where(category: "Wash, Dry and Iron").group_by(&:category).each do |category, services| %>
      <div class="col-12 col-md-3 bg-success py-4 rounded-4">
        <div class="card-header">
          <h3><%= category %></h3>
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          <div class="form-group">
            <label for="<%= category %>">Select a service:</label>
            <select class="form-control" id="<%= category %>" name="<%= category %>">
            <option value="">-- Select a service --</option>
            <% services.each do |service| %>
              <option value="<%= service.id %>"><%= service.name %> - $<%= service.price %></option>
            <% end %>
            </select>
          </div>
        </div>
        <div class="btn">
          <%= button_to "Add to cart", line_items_path(:service_id => services.first.id), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>

    <%# Iron %>
      <%= simple_form_for(@line_item) do |f| %>
      <div class="row bg-secondary justify-content-around">
        <div class="col-12 col-md-3 bg-success py-4 rounded-4">
          <div class="card-header">
            <h4><i class="fas fa-washer"></i></h4>
            <h3><%= @wash_dry_fold_services.first.category %></h3>
          </div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          <div class="form-group">
            <%= f.input :service_id, collection: @wash_dry_fold_services,
                label_method: :name, label_value: :id, include_hidden: false %>
          </div>
        </div>
      <div class="d-grid gap-2 col-2 mx-auto mt-4" data-action="click->select-item#addItem">
      <%= f.button :submit, "Add to cart", class: "btn btn-primary"%>
      </div>
    </div>
    </div>
  <% end %>
  </div>
</div>

<%# try single button ====================================================%>

<div class="container p-4 bg-danger" data-controller="select-item">
  <%= simple_form_for(@line_item) do |f| %>
    <div class="row bg-secondary justify-content-around">

      <%# Wash, Dry and Fold =========================%>

      <div class="col-12 col-md-3 bg-success py-4 rounded-4">
        <div class="card-header">
          <h4><i class="fas fa-washer"></i></h4>
          <h3><%= @wash_dry_fold_services.first.category %></h3>
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          <div class="form-group">
            <%= f.input :service_id, collection: @wash_dry_fold_services,
                label_method: :name, label_value: :id, include_hidden: false %>
          </div>
        </div>
      </div>

      <%# Wash, Dry and Iron ==========================%>

      <div class="col-12 col-md-3 bg-success py-4 rounded-4">
        <div class="card-header">
          <h3><%= @wash_dry_iron_services.first.category %></h3>
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          <div class="form-group">
            <%= f.input :service_id, collection: @wash_dry_iron_services,
                label_method: :name, label_value: :id, include_hidden: false %>
          </div>
        </div>
      </div>

      <%# Iron ======================================%>

      <div class="col-12 col-md-3 bg-success py-4 rounded-4">
        <div class="card-header">
          <h3><%= @iron_services.first.category %></h3>
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          <div class="form-group">
            <%= f.input :service_id, collection: @iron_services,
                label_method: :name, label_value: :id, include_hidden: false %>
          </div>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 col-2 mx-auto mt-4" data-action="click->select-item#addItem">
      <%= f.button :submit, "Add to cart", class: "btn btn-primary"%>
    </div>
  <% end %>
</div>

<%# ----- %>
  </div>
</div>
