<div class="container p-4 mb-2">
  <h3>A list of our services</h3>
  <div class="d-flex justify-content-center">
    <%= render partial: 'shared/offcanvas' %>
  </div>

  <%# NEW SET========================================================== %>

  <div class="container p-4 bg-danger my-4" data-controller="select-item">
    <div class="row bg-secondary justify-content-around">

      <%# Wash Dry FOLD =============================================== %>
      <div class="col-12 col-md-3 bg-success py-4 rounded-4">
        <%= simple_form_for(@line_item) do |f| %>
          <div class="card-header">
            <h3><%= @wash_dry_fold_services.first.category %></h3>
          </div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <div class="form-group">
              <%= f.input :service_id, collection: @wash_dry_fold_services,
                  label_method: :name, label_value: :id, include_hidden: false %>
            </div>
          </div>
          <div class="d-grid gap-2 col-2 mx-auto mt-4" >
            <%= f.button :submit, "Add to cart", class: "btn btn-primary"%>
          </div>
        <% end %>
      </div>

      <%# Wash Dry IRON =============================================== %>
      <div class="col-12 col-md-3 bg-success py-4 rounded-4">
        <%= simple_form_for(@line_item) do |f| %>
          <div class="card-header">
            <h3><%= @wash_dry_iron_services.first.category %></h3>
          </div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <div class="form-group">
              <%= f.input :service_id, collection: @wash_dry_iron_services,
                  label_method: :name, label_value: :id, include_hidden: false %>
            </div>
          </div>
          <div class="d-grid gap-2 col-2 mx-auto mt-4" >
            <%= f.button :submit, "Add to cart", class: "btn btn-primary"%>
          </div>
        <% end %>
      </div>

      <%# IRON ======================================================== %>
      <div class="col-12 col-md-3 bg-success py-4 rounded-4">
        <%= simple_form_for(@line_item) do |f| %>
          <div class="card-header">
            <h3><%= @iron_services.first.category %></h3>
          </div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <div class="form-group">
              <%= f.input :service_id, collection: @iron_services,
                  label_method: :name, label_value: :id, include_hidden: false %>
            </div>
          </div>
          <div class="d-grid gap-2 col-2 mx-auto mt-4" >
            <%= f.button :submit, "Add to cart",
            class: "btn btn-primary",
            data: { bs_toggle: 'offcanvas',
                    bs_target: '#offcanvasExample',
                    bs_controls: 'offcanvasExample' } %>
          </div>
        <% end %>
      </div>

    </div>
  </div>

<%# ----- %>
  </div>
</div>
