<div class="banner-services">
  <div class="container p-4 mb-2">
    <h3 class="text-white">A list of our services</h3>

    <%# CARD SET========================================================== %>

    <div class="container-cards p-4 my-4" data-controller="select-item">
      <div class="row justify-content-around">

        <%# Wash Dry FOLD =============================================== %>
        <div class="card-index wash-dry-fold col-12 col-md-3 py-4 rounded-4 mb-3">
          <%= simple_form_for @line_item, data: { select_item_target: "form" } do |f| %>
            <div class="card-header">
              <h3><%= @wash_dry_fold_services.first.category %></h3>
            </div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <div class="form-group">
                <div class="mb-3 select optional line_item_service_id">
                  <label class="form-label select optional" for="line_item_service_id">Select a service:</label>
                  <select class="form-select select optional rounded-5" name="line_item[service_id]" id="line_item_service_id"><option value="" label=" "></option>
                    <% @wash_dry_fold_services.each_with_index do | service, index | %>
                      <option value="<%= index + 1 %>" data-service="<%= service.category %>" data-price="<%= service.price %>" data-weight="<%= service.name %>"><%= "#{service.name} - #{service.price}€" %></option>
                    <% end %>
                  </select>
                </div>
              </div>
            </div>
            <div class="d-grid justify-content-md-end mt-5 me-4" >
              <%= f.button :submit, "Add to cart",
                  class: "btn btn-primary",
                  data: { bs_toggle: 'offcanvas',
                          bs_target: '#offcanvasExample',
                          bs_controls: 'offcanvasExample',
                          select_item_target: "addItem",
                          action: "click->select-item#add" } %>
            </div>
          <% end %>
        </div>

        <%# Wash Dry IRON =============================================== %>
        <div class="card-index wash-dry-iron col-12 col-md-3 py-4 rounded-4 mb-3">
          <%= simple_form_for @line_item, data: { select_item_target: "form" } do |f| %>
            <div class="card-header">
              <h3><%= @wash_dry_iron_services.first.category %></h3>
            </div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

              <div class="form-group">
                <div class="mb-3 select optional line_item_service_id">
                  <label class="form-label select optional" for="line_item_service_id">Select a service:</label>
                  <select class="form-select select optional rounded-5" name="line_item[service_id]" id="line_item_service_id"><option value="" label=" "></option>
                    <% @wash_dry_iron_services.each_with_index do | service, index | %>
                      <option value="<%= @wash_dry_fold_services.count + index + 1 %>" data-service="<%= service.category %>" data-price="<%= service.price %>" data-weight="<%= service.name %>"><%= "#{service.name} - #{service.price}€" %></option>
                    <% end %>
                  </select>
                </div>
              </div>
            </div>
            <div class="d-grid justify-content-md-end mt-5 me-4" >
              <%= f.button :submit, "Add to cart",
                  class: "btn btn-primary",
                  data: { bs_toggle: 'offcanvas',
                          bs_target: '#offcanvasExample',
                          bs_controls: 'offcanvasExample',
                          select_item_target: "addItem",
                          action: "click->select-item#add" } %>
            </div>
          <% end %>
        </div>

        <%# IRON ======================================================== %>
        <div class="card-index iron col-12 col-md-3 py-4 rounded-4 mb-3">
          <%= simple_form_for @line_item, data: { select_item_target: "form" } do |f| %>
            <div class="card-header">
              <h3 class="a-hover"><%= @iron_services.first.category %></h3>
            </div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

              <div class="form-group">
                <div class="mb-3 select optional line_item_service_id">
                  <label class="form-label select optional" for="line_item_service_id">Select a service:</label>
                  <select class="form-select select optional rounded-5" name="line_item[service_id]" id="line_item_service_id"><option value="" label=" "></option>
                    <% @iron_services.each_with_index do | service, index | %>
                      <option value="<%= @wash_dry_fold_services.count + @wash_dry_iron_services.count + index + 1 %>" data-service="<%= service.category %>" data-price="<%= service.price %>" data-weight="<%= service.name %>"><%= "#{service.name} - #{service.price}€" %></option>
                    <% end %>
                  </select>
                </div>
              </div>
            </div>
            <div class="d-grid justify-content-md-end mt-5 me-4" >
              <%= f.button :submit, "Add to cart",
                  class: "btn btn-primary",
                  data: { bs_toggle: 'offcanvas',
                          bs_target: '#offcanvasExample',
                          bs_controls: 'offcanvasExample',
                          select_item_target: "addItem",
                          action: "click->select-item#add" } %>
            </div>
          <% end %>
        </div>
      <%# CARD SET container end-div %>
      </div>
    </div>
      <%# OFFCANVAS 'see my cart' button %>
      <div class="d-flex justify-content-center">
        <%= render partial: 'shared/offcanvas' %>
      </div>
      <%# end of offcanvas %>
    </div>
    <%# Main container end-div %>
  </div>
</div>
