<h1><%= @chatroom.name.capitalize %></h1>

<ul>
  <% @messages.each do |message| %>
    <li>
      <strong><%= message.user.nickname %>:</strong>
      <%= message.body %>
    </li>
  <% end %>
</ul>

<%= form_with(model: [@chatroom, @message], local: true) do |form| %>
  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <%= form.submit "Send" %>
<% end %>
