<div class="container p-4">
  <h2>My Bookings (index)</h2>

  <% @bookings.each do |booking| %>
    <p>Name: <%= booking.user.nickname %></p>
    <p>Pickup date: <%= booking.pickup_date %></p>
    <p>Delivery date: <%= booking.delivery_date %></p>
    <p>Services: </p>
    <ul>
      <% booking.line_items.each do |item| %>
      <li><%= item.service.name %> - $<%= item.service.price %> </li>
      <% end %>
    </ul>
    <p>Status: <%= booking.status %></p>

    <%= link_to "Cancel", bookings_path(booking), class: "btn btn-danger",
        data: {turbo_method: :delete, turbo_confirm: "Cancel this booking?"} %>

  <hr>
  <% end %>
</div>
