<div class="container my-5">

  <div class="row">
    <div class="col-8">
      <div class="card rounded-4">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h3 class="bookings-greeting"><%= current_user.first_name.capitalize %>'s <em>current</em> bookings:</h3>
          <h3><%= pluralize(current_user.bookings.count, "") %></h3>
        </div>
        <div class="card-body">
          <% @bookings.each do |booking| %>
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col py-4">
                  <div class="dates_details">
                    <h4>Customer: <%= booking.user.nickname.capitalize %></h4>
                    <p>Pickup date: <%= booking.pickup_date.strftime("%A, %d %b %Y %l:%M %p") %></p>
                    <p>Delivery date: <%= booking.delivery_date.strftime("%A, %d %b %Y %l:%M %p") %></p>
                    <p>Services: </p>
                    <ul>
                      <% booking.line_items.each do |item| %>
                        <li><%= item.service.category %> - <%= item.service.name %> - $<%= item.service.price %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
              </div>
                <div class="col py-4">
                  <div class="d-flex align-items-end flex-column">
                    <p>Status: <%= booking.status %></p>
                    <h3>Total cost: $<%= booking.total_price %></h3>
                    <%= link_to "Cancel", booking_path(booking), class: "btn btn-danger text-white rounded-4",
                    data: {turbo_method: :delete, turbo_confirm: "Cancel this booking?"} %>
                    <%= link_to "Edit", edit_booking_path(booking), class: "btn btn-primary text-white rounded-4" %>
                  </div>
                </div>
              <hr>
            </div>

            <div>
            <h4>Leave a Review -</h4>
            <%= simple_form_for Review.new do |f| %>
              <div class="form-group">
                <%= f.input :rating, label: "Rating", input_html: {min: 1, max: 5}, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.input :comment, label: "Comment", input_html: {rows: 5}, class: "form-control" %>
              </div>
              <%= f.hidden_field :booking_id, value: booking.id %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.button :submit, "Submit Review", class: "btn btn-primary" %>
            <% end %>
            </div>

          <% end %>

          <hr>
          <div>
            <h3>Grand total: $<%= @bookings.sum(&:total_price) %></h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card rounded-4">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h3 class="bookings-greeting">Past bookings:</h3>
          <h3><%= pluralize(current_user.bookings.count, "") %></h3>
        </div>
        <div class="card-body">
          <% @bookings.each do |booking| %>
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col py-4">
                  <div class="dates_details">
                    <p>Pickup date: <%= booking.pickup_date %></p>
                    <p>Delivery date: <%= booking.delivery_date %></p>
                    <p>Services: </p>
                    <ul>
                      <% booking.line_items.each do |item| %>
                        <li><%= item.service.category %> - <%= item.service.name %> - $<%= item.service.price %>
                        </li>
                      <% end %>
                    </ul>
                    <p>Status: <%= booking.status %></p>
                    <h3>Total cost: $<%= booking.total_price %></h3>
                  </div>
              </div>

              <hr>
            </div>
          <% end %>
          <div>
            <h3>Grand total: $<%= @bookings.sum(&:total_price) %></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
