<div class="container">
  <div class="row">
    <div class="col">
      <div class="card rounded-4 my-5">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h3 class="bookings-greeting center"><%= current_user.first_name.capitalize %>'s Booking Summary</h3>
        </div>
          <div class="card-body">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col py-4">
                  <div class="row dates_details">
                    <div class="col">
                      <h4>Customer: <%= @booking.user.nickname.capitalize %></h4>
                      <p>Pickup date: <%= @booking.pickup_date.strftime("%A, %d %b %Y %l:%M %p") %></p>
                      <p>Delivery date: <%= @booking.delivery_date.strftime("%A, %d %b %Y %l:%M %p") %></p>
                    </div>
                    <div class="col">
                      <p>Want to revise your booking dates?</p>
                      <%= link_to "Edit Date", edit_booking_path(@booking), class: "btn btn-primary text-white rounded-4" %>
                    </div>
                  </div>
                    <p>Services: </p>

                    <ul>
                      <% @booking.line_items.each do |item| %>
                        <li><%= item.service.category %> - <%= item.service.name %> - $<%= item.service.price %>
                        </li>
                      <% end %>
                    </ul>
                    <p>Status: <%= @booking.status %></p>
                    <h3>Total cost: $<%= @booking.total_price %></h3>

              </div>


                    <div>
                      <p>Not totally satisfied with your booking?</P>
                      <%= link_to "Redo Booking", services_path(@booking), class: "btn btn-danger text-white rounded-4" %>
                    </div>


              <hr>
            </div>

        </div>
      </div>
    </div>

    <div class="col">
      <div class="card rounded-4 px-4 my-5">
        <h3 class="h8 py-3 text-center">Payment Details</h3>
        <div class="row gx-3">
          <div class="col-12">
              <div class="d-flex flex-column">
                  <p class="text mb-1">Person Name</p>
                  <input class="form-control-payment mb-3" type="text" placeholder="Name" value="Barry Allen">
              </div>
          </div>
          <div class="col-12">
              <div class="d-flex flex-column">
                  <p class="text mb-1">Card Number</p>
                  <input class="form-control-payment mb-3" type="text" placeholder="1234 5678 435678">
              </div>
          </div>
          <div class="col-6">
              <div class="d-flex flex-column">
                  <p class="text mb-1">Expiry</p>
                  <input class="form-control-payment mb-3" type="text" placeholder="MM/YYYY">
              </div>
          </div>
          <div class="col-6">
              <div class="d-flex flex-column">
                  <p class="text mb-1">CVV/CVC</p>
                  <input class="form-control-payment mb-3 pt-2 " type="password" placeholder="***">
              </div>
          </div>
          <div class="col-12">
              <div class="btn btn-info mb-3">
                  <span class="ps-3"><%= @booking.total_price %></span>
                  <span class="fas fa-arrow-right"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
