<div class="offcanvas offcanvas-end m-3 rounded-4" data-bs-scroll="true" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header pb-0">
    <%# <h5 class="offcanvas-title fs-1" id="offcanvasExampleLabel"><i class="fa-solid fa-cart-shopping"></i></h5> %>
      <div class="d-flex justify-content-start align-items-center">
        <p class="fs-2 m-0 ps-1"><i class="fa-solid fa-cart-shopping"></i></p>
        <h4 class="mb-0 ps-2">Services added:</h4>
      </div>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body pt-0">

    <div class="container p-2 pt-0">

        <hr>
        <div id="modal">
          <% @cart.line_items.each do |line_item| %>
            <div class="card-order card p-4 mb-3">
              <p>Service: <strong><%= line_item.service.category %></strong></p>
              <p>Weight: <strong><%= line_item.service.name %></strong></p>
              <div class="d-flex justify-content-between price card-order">
                <p>Price: <strong><%= line_item.service.price %>€</strong></p>
                <%= button_to "x", line_item_path(line_item), method: :delete, class: "btn btn-outline-danger" %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="d-flex justify-content-around">
        <%= link_to "＋ Service", services_path, class: "btn btn-outline-success" %>
        <%= link_to "Empty cart", carts_destroy_path(@current_cart), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
        </div>
        <hr>
        <%= turbo_frame_tag @cart do %>
          <h3 class="text-center" id="subtotal">Subtotal: <%= @cart.sub_total %>€</h3><br>
        <% end %>

          <%# date picker %>
          <div class="card p-3 rounded-4">
            <h4 class="text-center pb-2">Pick your most convenient dates</h4>
            <%= simple_form_for @booking, data: { controller: 'flatpickr' } do |f| %>
              <%= f.input :pickup_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
              <%= f.input :delivery_date, as: :string, input_html: { data: { flatpickr_target: "endTime", action: "click->flatpickr#setend" } } %>
              <div class="d-flex justify-content-center py-3">
                <%= f.submit 'Confirm Dates', class: "btn btn-success text-white" %>
              </div>
            <% end %>
          </div>
          <%# === %>
        <p></p>
      </div>
  </div>
</div>

<button class="btn btn-primary text-white fs-4 px-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" >
  See my <i class="fa-solid fa-cart-shopping"></i>
</button>
