<%= content_for(:navbar_class, "navbar-home") %>

  <div class="banner">
    <div class="banner-content text-center">
      <h1>Spend your precious time with your <span class="auto-type text-primary"></span>
      </h1>
      <%# JS trial start %>
      <script src="https://unpkg.com/typed.js@2.0.132/dist/typed.umd.js"></script>
      <script>
      var typed = new Typed(".auto-type", {
        strings: ["family.", "friends.", "pets.", "kids.", "partners.", "loved ones."],
        typeSpeed: 100,
        backSpeed: 100,
        loop: true
      })
      </script>
      <%# JS trial end %>

      <p>Let Laundromate take the load off your laundry day!</p>


      <%= link_to services_path do %>
        <button class="c-button c-button--gooey"> Book now!
          <div class="c-button__blobs">
          <div></div>
          <div></div>
          <div></div>
          </div>
        </button>
      <% end %>
      <svg style="display: block; height: 0; width: 0;" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <filter id="goo">
            <feGaussianBlur result="blur" stdDeviation="10" in="SourceGraphic"></feGaussianBlur>
            <feColorMatrix result="goo" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" mode="matrix" in="blur"></feColorMatrix>
            <feBlend in2="goo" in="SourceGraphic"></feBlend>
          </filter>
        </defs>
      </svg>
    </div>
  </div>

  <div class="hr-home">
  </div>

  </div>
  <div class="about container-fluid container-md px-5">
    <%# <h1 class="text-center pt-5">Our promise to you</h1> %>
    <div class="row about-row align-items-start">
      <div class="col about-col-1 text-center pt-3">
        <i class="fa-solid fa-jug-detergent fa-5x fa-fade pb-5"></i>
        <p>
        We use eco-friendly gentle detergents without harmful chemicals formulated to keep your clothes fresh and clean so that your skin can stay happy and healthy.
        </p>
      </div>
      <div class="col about-col-2 text-center pt-3">
        <i class="fa-solid fa-calendar-days fa-5x fa-fade pb-5"></i>
        <p>
        Choose the dates that work for you. Our LaundroMate employees work hard to ensure your laundry is collected and delivered back to you in your selected time.
        </p>
      </div>
      <div class="col about-col-3 text-center pt-3">
        <i class="fa-solid fa-shirt fa-5x fa-fade pb-5"></i>
        <p class="">
        Rest assured that your clothes are in good hands. Each LaundroMate employee is well-trained and knowledgeable about handle every type of fabric.
        </p>
      </div>
    </div>
  </div>

  <div class="hr-home">
  </div>

  <div class="steps-container container-fluid py-5">
    <div class="row d-flex align-items-start steps-title py-5 pl-1">
      <h1 class="pb-4">How it Works</h1>
        <div class="col steps py-3">
          <i class="fa-solid fa-1 num-icon"></i>
          <p>Choose your desired services.</p>
        </div>
        <div class="col steps py-3">
          <i class="fa-solid fa-2 num-icon"></i>
          <p>Select your preferred dates and time.</p>
        </div>
        <div class="col steps py-3">
          <i class="fa-solid fa-3 num-icon"></i>
          <p>Submit your address for laundry to be collected.</p>
        </div>
        <div class="col steps py-3">
          <i class="fa-solid fa-4 num-icon"></i>
          <p>Laundromate collects yours clothes.</p>
        </div>
        <div class="col steps py-3">
          <i class="fa-solid fa-5 num-icon"></i>
          <p>Take a load off, your laundry is in good hands.</p>
        </div>
        <div class="col steps steps-6 py-3">
          <i class="fa-solid fa-6 num-icon"></i>
          <p>Receive your laundry sparkling clean.</p>
        </div>
    </div>
  </div>



  <div class="hr-home">
  </div>



  <div class="reviews container-fluid p-5">

    <div class="row d-flex align-items-center">
      <div class="col-6 reviews-col reviews-title p-1">
        <h1>Leave laundry day up to us!</h1>
        <br>
        <div class="card reviews-content container-fluid rounded-4 p-3">
        <h4>Read what our customers have to say!</h4><hr>


            <% @reviews.each do |review| %>
              <div class="row">
                <div class="review">
                  <%= review.user.nickname.capitalize %> ⎜
                  <%= review.rating %>/5 <i class="fa-solid fa-star fa-beat fa-lg" style="color: #ffea00;"></i> -
                  "<%= review.comment %>"<hr>
                </div>
              </div>
            <% end %>
        </div>
      </div>

      <div class="col-6 reviews-col p-1">
      <img src="https://www.rd.com/wp-content/uploads/2021/09/GettyImages-1181334518-MLedit.jpg?resize=1536,1024" alt="Laundry Room">
      </div>
    </div>
  </div>

   <div class="hr-home">
  </div>

  <%# <div class="container text-center pb-5 mb-5">
    <div class="guarantee">
      <img src="https://treekingsfl.com/wp-content/uploads/2017/05/100-Customer-Satisfaction-Guaranteed.png" alt="guarantee"
      style="width:50%; height:25%; opacity:0.4;">
    </div>
  </div> %>
