<div class="container p-4">
  <h1>My Profile</h1>
  <hr>
  <div class="container">
    <div class="card-profile" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4 p-4">
          <% if @user.photo.key.present? %>
            <%= cl_image_tag @user.photo.key,  class: "img-fluid rounded-start" %>
          <% else %>
            <img src="https://res.cloudinary.com/dzh4zrfev/image/upload/v1678463694/avatar-asset.png", class="img-fluid rounded-start", alt="default image">
          <% end %>
        </div>
        <div class="col-md-8">
          <div class="card-body p-2">
            <h5><%= @user.nickname.upcase %></h5>
            <p class="card-text"><i class="fa-regular fa-address-card"></i> <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></p>
            <p class="card-text"><i class="fa-regular fa-envelope"></i> <%= @user.email %></p>
            <p class="card-text"><i class="fa-solid fa-map-pin"></i> <%= @user.address %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="container p-4">
      <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary"%>
      <%= link_to "Delete Account",
        registration_path(@user), class: "btn btn-danger",
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </div>
  </div>
</div>
