<div class="container p-4">
  <div class="d-flex">
    <i class="fa-solid fa-cart-shopping"></i>
    <h2>My Cart</h2>
  </div>

  <div class="d-flex flex-row justify-content-around mb-3">

    <div class="align-items-center">
      <%= link_to raw("<i class=\"fa-solid fa-plus\"> Add Service</i>"), services_path, class: "btn btn-primary text-white" %>

      <%= link_to "Empty cart", carts_destroy_path(@current_cart), class: "btn btn-secondary", method: :delete, data: {confirm: "Are you sure?"} %>
    </div>
    <div class="summary">

      <ul>
        <% @cart.line_items.each do |line_item| %>
          <li>Service: <%= line_item.service.category %> <br>
              Weight: <%= line_item.service.name %> <br>
              Price: <%= number_to_currency(line_item.service.price) %> <br>
              Quantity: <%= line_item.quantity %> <br>
              Total Price: <%= number_to_currency(line_item.total_price) %> <br>
              <%= button_to raw("<i class=\"fa-regular fa-square-minus\">  Remove item</i>"), line_item_path(line_item), method: :delete, class: "btn btn-danger text-secondary" %>
        <p></p>
        <% end %>
      </ul>

    </div>


    <div class="total">
      <h3>Sub total: <%= number_to_currency(@cart.sub_total) %></h3>
      <%= link_to "Pick a delivery date", new_booking_path, class: "btn btn-success" %>
    </div>
  </div>

</div>
